<h1>Movies</h1>
<!-- <ul>
  <% @lists.each do |list| %>
  <li> <%= link_to list.name, list_path(list.id) %></li>
  <% end %>
</ul> -->

  <!-- <div class="navbar-brand navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="nav-link">
              <%= link_to, %>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <%= link_to , %>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <%= link_to , %>
            </div>
          </li>
      </ul>
        </div>
    </div>
  </div> -->
